
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>{{.titleName}}</h5>
                    <div class="ibox-tools">
                        <a href="{{ urlfor "StoreController.StoreList"}}"><i class="fa fa-times"></i></a>
                    </div>
                </div>
                <div class="ibox-content">

                    <form class="form-horizontal m-t" id="signupForm" method="post" >

                        <div class="form-group">
                            <label class="col-sm-2 control-label">餐厅名称</label>
                            <div class="col-sm-1">
                                <input id="storeName" name="storeName" class="form-control" type="text" aria-required="true" aria-invalid="true" class="error">
                            </div>

                            <label class="col-sm-1 control-label">餐厅编号</label>
                            <div class="col-sm-1" style="text-align: left">
                                <input id="number"  name="number" class="form-control" type="text" aria-required="true" aria-invalid="true" class="error">
                            </div>

                            <label class="col-sm-1 control-label">餐厅经理</label>
                            <div class="col-sm-1">
                                <input id="manager" name="manager" class="form-control" type="text">
                            </div>

                            <label class="col-sm-1 control-label">经理手机</label>
                            <div class="col-sm-2">
                                <input id="managerPhone" name="managerPhone" class="form-control" type="text">
                            </div>

                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">餐厅品牌</label>
                            <div class="col-sm-1">
                                <select class="form-control m-b" name="brand" id="brand" >
                                    <option value="0">请选择</option>
                                    <option value="1">肯德基</option>
                                    <option value="2">必胜客</option>
                                    <option value="3">小肥羊</option>
                                    <option value="4">塔可贝尔</option>
                                    <option value="5">咖啡</option>
                                </select>
                            </div>

                            <label class="col-sm-1 control-label">运营状态</label>
                            <div class="col-sm-1">
                                <select class="form-control m-b" name="status" id="status">
                                    <option value="0">请选择</option>
                                    {{range $key, $val := .statusList}}
                                        <option value="{{$val.Status}}">{{$val.Content}}</option>

                                    {{end}}
                                </select>
                            </div>
                            <label class="col-sm-1 control-label">餐厅宽带</label>
                            <div class="col-sm-1">
                                <select class="form-control m-b" name="network" id="network">
                                    <option value="0">请选择</option>
                                    <option value="1">联通</option>
                                    <option value="2">电信</option>
                                    <option value="3">移动</option>
                                    <option value="4">小运营商</option>
                                </select>
                            </div>

                            <label class="col-sm-1 control-label">IP</label>
                            <div class="col-sm-2">
                                <input id="ip" name="ip" class="form-control" type="text">
                            </div>
                        </div>

                        {{/*餐厅宽带\n1 联通\n2 电信\n3 移动\n4 小运营商\n*/}}
                        <div class="form-group">
                            <label class="col-sm-2 control-label">区经理</label>
                            <div class="col-sm-1">
                                <input id="areaManager" name="areaManager" class="form-control" type="text">
                            </div>
                            <label class="col-sm-1 control-label">区域经理</label>
                            <div class="col-sm-1">
                                <input id="regionalManager" name="regionalManager" class="form-control" type="text">
                            </div>
                            <label class="col-sm-1 control-label">营建工程师</label>
                            <div class="col-sm-1">
                                <input id="buildName" name="buildName" class="form-control" type="text">
                            </div>
                            <label class="col-sm-1 control-label">餐厅地址</label>
                            <div class="col-sm-2">
                                <input id="address" name="address" class="form-control" type="text">
                            </div>

                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">开业时间</label>
                            <div class="col-sm-2">
                                <input id="openTime" name="openTime" class="form-control" type="date">
                            </div>
                            <label class="col-sm-1 control-label">停业时间</label>
                            <div class="col-sm-2">
                                <input id="closeTime" name="closeTime" class="form-control" type="date">
                            </div>
                            <label class="col-sm-1 control-label">待开业时间</label>
                            <div class="col-sm-2">
                                <input id="waitTime" name="waitTime" class="form-control" type="date">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">临时闭店时间</label>
                            <div class="col-sm-2">
                                <input id="tempCloseTime" name="tempCloseTime" class="form-control" type="date">
                            </div>
                            <label class="col-sm-1 control-label">装修时间</label>
                            <div class="col-sm-2">
                                <input id="decorationTime" name="decorationTime" class="form-control" type="date">
                            </div>
                            <label class="col-sm-1 control-label">设备进场时间</label>
                            <div class="col-sm-2">
                                <input id="deviceTime" name="deviceTime" class="form-control" type="date">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">IMS</label>
                            <div class="col-sm-2">
                                <input id="bookStartTime" name="bookStartTime" class="form-control" type="date">
                            </div>

                            <label class="col-sm-1 control-label">CMS</label>
                            <div class="col-sm-2">
                                <input id="employeeStartTime" name="employeeStartTime" class="form-control" type="date">
                            </div>
                            <label class="col-sm-1 control-label">备注</label>
                            <div class="col-sm-2">
                                <input id="storeRemark" name="storeRemark" class="form-control" type="text">
                            </div>
                        </div>

                        <div class="form-group  " id="status-detail">
                            <label class="col-sm-1 control-label"></label>
                            <div class="col-sm-9">
                                <div class="tabs-container">
                                    <div class="tabs-up">
                                        <ul class="nav nav-tabs">
                                            <li class="statusTab status1"><a data-toggle="tab" href="#tab-8">新店</a></li>
                                            <li class="statusTab status2 active"><a data-toggle="tab" href="#tab-9">IE</a></li>
                                            <li class="statusTab status3"><a data-toggle="tab" href="#tab-10">关店</a></li>
                                        </ul>
                                        <div class="tab-content ">
                                            <div id="tab-8" class="tab-pane statusTab status1">
                                                <div class="panel-body">
                                                    {{/*{{template "store/newStore.html"}}*/}}
                                                </div>
                                            </div>
                                            <div id="tab-9" class="tab-pane statusTab status2 active">
                                                <div class="panel-body">
                                                    {{template "store/ieStore.html"}}
                                                </div>
                                            </div>
                                            <div id="tab-10" class="tab-pane statusTab status3">
                                                <div class="panel-body">
                                                    <strong>栅格系统</strong>

                                                    <p>Bootstrap 提供了一套响应式、移动设备优先的流式栅格系统，随着屏幕或视口（viewport）尺寸的增加，系统会自动分为最多12列。它包含了易于使用的预定义类，还有强大的mixin 用于生成更具语义的布局。</p>
                                                </div>
                                            </div>
                                        </div>

                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-8 col-sm-offset-2">
                                <button class="btn btn-primary" type="submit">提交</button>
                            </div>
                        </div>
                        <br>
                        <br>
                        <br>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    //以下为官方示例
    $().ready(function () {

        $("#status").change(function(){
           var status =  $(this).val()
            if (status>= 1 && status<= 3){

                $("#status-detail").removeClass("hidden")
                // $("#status-detail").show()

                $(".statusTab").removeClass("active")
                $(".status"+status).addClass("active")
            }else{
                $("#status-detail").addClass("hidden")
            }
        });

        // validate the comment form when it is submitted
        $("#commentForm").validate();

        // validate signup form on keyup and submit
        var icon = "<i class='fa fa-times-circle'></i> ";
        $("#signupForm").validate({
            rules: {
                storeName: "required",
                number: {
                    required: true,
                },
            },
            messages: {
                storeName: icon + "请输入餐厅名称",
                number: icon + "请输入餐厅编号",
            },
            submitHandler:function(form){
                var form = new FormData(document.getElementById("signupForm"));
                var url = '{{urlfor "StoreController.AddStore"}}';

                $.ajax({
                    url:url,
                    type:"post",
                    data:form,
                    processData:false,
                    contentType:false,
                    success:function(data){

                        if(data.code == 0){
                            layer.msg(data.message, {icon: 1,time:2000,offset: '400px'},function () {
                                window.location.href='{{ urlfor "StoreController.StoreList"}}'
                            });
                        }else{
                            layer.msg(data.message, {icon: 5,offset: '400px'});
                        }
                    }
                });
            }
        });

    });


</script>