
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>{{.titleName}}</h5>
                    <div class="ibox-tools">
                        <a href="{{ urlfor "StoreController.StoreList"}}"><i class="fa fa-times"></i></a>
                    </div>
                </div>
                <div class="ibox-content">

                    <form class="form-horizontal m-t" id="signupForm" method="post" >

                        <div class="form-group">
                            <label class="col-sm-2 control-label">餐厅名称</label>
                            <div class="col-sm-1">
                                <input id="storeName" name="storeName" class="form-control" type="text" aria-required="true" aria-invalid="true" class="error">
                            </div>

                            <label class="col-sm-1 control-label">餐厅编号</label>
                            <div class="col-sm-1" style="text-align: left">
                                <input id="number"  name="number" class="form-control" type="text" aria-required="true" aria-invalid="true" class="error">
                            </div>

                            <label class="col-sm-1 control-label">餐厅经理</label>
                            <div class="col-sm-1">
                                <input id="manager" name="manager" class="form-control" type="text">
                            </div>

                            <label class="col-sm-1 control-label">经理手机</label>
                            <div class="col-sm-1">
                                <input id="managerPhone" name="managerPhone" class="form-control" type="text">
                            </div>

                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">餐厅品牌</label>
                            <div class="col-sm-1">
                                <select class="form-control m-b" name="brand">
                                    <option value="1">肯德基</option>
                                    <option value="2">必胜客</option>
                                    <option value="3">小肥羊</option>
                                    <option value="4">塔可贝尔</option>
                                    <option value="5">咖啡</option>
                                </select>
                            </div>

                            <label class="col-sm-1 control-label">运营状态</label>
                            <div class="col-sm-1">
                                <select class="form-control m-b" name="brand">
                                    <option value="1">新店</option>
                                    <option value="2">IE</option>
                                    <option value="3">关店</option>
                                    <option value="4">转加盟</option>
                                    <option value="5">完成</option>
                                    <option value="6">准备</option>
                                </select>
                            </div>

                            <label class="col-sm-1 control-label">餐厅宽带</label>
                            <div class="col-sm-1">
                                <select class="form-control m-b" name="network">
                                    <option value="0">请选择宽带</option>
                                    <option value="1">联通</option>
                                    <option value="2">电信</option>
                                    <option value="3">移动</option>
                                    <option value="4">小运营商</option>
                                </select>
                            </div>

                            <label class="col-sm-1 control-label">IP</label>
                            <div class="col-sm-1">
                                <input id="ip" name="ip" class="form-control" type="text">
                            </div>
                        </div>
                        <div class="form-group">

                        </div>

                        {{/*餐厅宽带\n1 联通\n2 电信\n3 移动\n4 小运营商\n*/}}
                        <div class="form-group">
                            <label class="col-sm-2 control-label">区经理</label>
                            <div class="col-sm-4">
                                <input id="areaManager" name="areaManager" class="form-control" type="text">
                            </div>
                            <label class="col-sm-1 control-label">区域经理</label>
                            <div class="col-sm-3">
                                <input id="regionalManager" name="regionalManager" class="form-control" type="text">
                            </div>

                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">餐厅地址</label>
                            <div class="col-sm-4">
                                <input id="address" name="address" class="form-control" type="text">
                            </div>
                        </div>
                        <div class="form-group">


                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">开业时间</label>
                            <div class="col-sm-4">
                                <input id="openTime" name="openTime" class="form-control" type="date">
                            </div>
                            <label class="col-sm-1 control-label">停业时间</label>
                            <div class="col-sm-3">
                                <input id="closeTime" name="closeTime" class="form-control" type="date">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">餐厅待开业时间</label>
                            <div class="col-sm-4">
                                <input id="waitTime" name="waitTime" class="form-control" type="date">
                            </div>
                            <label class="col-sm-1 control-label">装修时间</label>
                            <div class="col-sm-3">
                                <input id="decorationTime" name="decorationTime" class="form-control" type="date">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">IMS</label>
                            <div class="col-sm-4">
                                <input id="bookStartTime" name="bookStartTime" class="form-control" type="date">
                            </div>

                            <label class="col-sm-1 control-label">CMS</label>
                            <div class="col-sm-3">
                                <input id="employeeStartTime" name="employeeStartTime" class="form-control" type="date">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Select1</label>
                            <div class="col-sm-2">
                                <select class="form-control m-b" name="account">
                                    <option>选项 1</option>
                                    <option>选项 2</option>
                                    <option>选项 3</option>
                                    <option>选项 4</option>
                                </select>
                            </div>
                            <label class="col-sm-1 control-label">Select2</label>
                            <div class="col-sm-2">
                                <select class="form-control m-b" name="account">
                                    <option>选项 1</option>
                                    <option>选项 2</option>
                                    <option>选项 3</option>
                                    <option>选项 4</option>
                                </select>
                            </div>
                            <label class="col-sm-1 control-label">Select2</label>
                            <div class="col-sm-2">
                                <select class="form-control m-b" name="account">
                                    <option>选项 1</option>
                                    <option>选项 2</option>
                                    <option>选项 3</option>
                                    <option>选项 4</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-8 col-sm-offset-2">
                                <button class="btn btn-primary" type="submit">提交</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{{/*<script src="/static/js/demo/form-validate-demo.js"></script>*/}}
<script>
    //以下为官方示例
    $().ready(function () {
        // validate the comment form when it is submitted
        $("#commentForm").validate();

        // validate signup form on keyup and submit
        var icon = "<i class='fa fa-times-circle'></i> ";
        $("#signupForm").validate({
            rules: {
                storeName: "required",
                number: {
                    required: true,
                },
            },
            messages: {
                storeName: icon + "请输入餐厅名称",
                number: icon + "请输入餐厅编号",
            },
            submitHandler:function(form){

                var url = '{{urlfor "StoreController.AddStore"}}';

                $.ajax({
                    url : url,
                    type : 'POST',
                    dataType : 'json',
                    data : {
                        storeName   : $('#storeName').val(),
                        number      : $('#number').val(),
                        brand       : $("#brand").val(),
                        status      : $("#status").val(),
                        manager     : $('#manager').val(),
                        managerPhone : $('#managerPhone').val(),
                        areaManager : $('#areaManager').val(),
                        regionalManager  : $('#regionalManager').val(),
                        ip          : $('#ip').val(),
                        address     : $('#address').val(),
                        network     :  $("#network").val(),
                        openTime    : $('#openTime').val(),
                        closeTime   : $('#closeTime').val(),
                        waitTime    : $('#waitTime').val(),
                        decorationTime  : $('#decorationTime').val(),
                        bookStartTime   : $('#bookStartTime').val(),
                        employeeStartTime  : $('#employeeStartTime').val(),
                    },
                    success : function(data) {
                        console.log(data);
                        if(data.code == 0){
                            window.location.href='{{ urlfor "StoreController.StoreList"}}'
                        }else{
                            layer.msg(data.message, {icon: 5,offset: '400px'});
                        }
                    }
                });
            }
        });

    });


</script>