<div class="form-group">
    <label class="col-sm-2 control-label">资产评估时间</label>
    <div class="col-sm-2">
        <input id="propertyEvaluateTime" name="propertyEvaluateTime" class="form-control" type="date">
    </div>
    <label class="col-sm-2 control-label">运营助理关店资料时间</label>
    <div class="col-sm-2">
        <input id="businessCloseTime" name="businessCloseTime" class="form-control" type="date">
    </div>
    <label class="col-sm-2 control-label">运营助理机具回收时间</label>
    <div class="col-sm-2">
        <input id="businessRecoveryTime" name="businessRecoveryTime" class="form-control" type="date">
    </div>
</div>

<div class="form-group">
    <label class="col-sm-2 control-label">DMB派单时间</label>
    <div class="col-sm-2">
        <input id="closeStoreDmbDispatchTime" name="closeStoreDmbDispatchTime" class="form-control" type="date">
    </div>
    <label class="col-sm-2 control-label">向三星派单时间</label>
    <div class="col-sm-2">
        <input id="dispatchSamsungTime" name="dispatchSamsungTime" class="form-control" type="date">
    </div>

    <label class="col-sm-2 control-label">IMAC派单时间</label>
    <div class="col-sm-2">
        <input id="closeStoreimacDispatchTime" name="closeStoreimacDispatchTime" class="form-control" type="date">
    </div>
</div>


<div class="form-group">
    <label class="col-sm-2 control-label">DMB拆除数量</label>
    <div class="col-sm-2">
        <input id="dmbUninstallNumber" name="dmbUninstallNumber" class="form-control" type="text">
    </div>
    <label class="col-sm-2 control-label">关店备注</label>
    <div class="col-sm-2">
        <input id="closeStoreRemark" name="closeStoreRemark" class="form-control" type="text">
    </div>
</div>
<div class="form-group">
    <label class="col-sm-2 control-label">设备HP去向表</label>
    <div class="col-sm-3">
        <input id="deviceHpTogoTable" name="deviceHpTogoTable" class="form-control" type="file">
    </div>
    <label class="col-sm-2 control-label">设备LC去向表</label>
    <div class="col-sm-3">
        <input id="deviceLcTogoTable" name="deviceLcTogoTable" class="form-control" type="file">
    </div>
</div>

<div class="form-group">
    <label class="col-sm-2 control-label">向提供给LC资产表</label>
    <div class="col-sm-3">
        <input id="toLcPropertyTable" name="toLcPropertyTable" class="form-control" type="file">
    </div>
    <label class="col-sm-2 control-label">设备退给配销申请</label>
    <div class="col-sm-3">
        <input id="deviceReturnLcApply" name="deviceReturnLcApply" class="form-control" type="file">
    </div>
</div>

<div class="form-group">
    <label class="col-sm-2 control-label">资产申请报废表</label>
    <div class="col-sm-3">
        <input id="propertyDestroyTable"  name="propertyDestroyTable" class="form-control" type="file" >
    </div>
</div>


