<div class="form-group">
    <label class="col-sm-1 control-label">报废评估</label>
    <div class="col-sm-2">
        <input id="scrapAssessmentTime" name="scrapAssessmentTime" class="form-control" type="date">
    </div>
    <label class="col-sm-2 control-label">设备订购初稿</label>
    <div class="col-sm-2">
        <input id="deviceBookFirsTime" name="deviceBookFirsTime" class="form-control" type="date">
    </div>
    <label class="col-sm-2 control-label">小件提醒</label>
    <div class="col-sm-2">
        <input id="ieStoreSmallNoticeTime" name="ieStoreSmallNoticeTime" class="form-control" type="date">
    </div>
</div>

<div class="form-group">
    <label class="col-sm-1 control-label">开店IMC派单</label>
    <div class="col-sm-2">
        <input id="openImacTime" name="openImacTime" class="form-control" type="date">
    </div>
    <label class="col-sm-2 control-label">关店IMC派单</label>
    <div class="col-sm-2">
        <input id="closeImacTime" name="closeImacTime" class="form-control" type="date">
    </div>
    <label class="col-sm-2 control-label">IT-SM闭店</label>
    <div class="col-sm-2">
        <input id="itsmCloseStoreTime" name="itsmCloseStoreTime" class="form-control" type="date">
    </div>
</div>

<div class="form-group">
    <label class="col-sm-1 control-label">DMB拆除</label>
    <div class="col-sm-2">
        <input id="dmbUninstallTime" name="dmbUninstallTime" class="form-control" type="date">
    </div>

    <label class="col-sm-2 control-label">DMB安装</label>
    <div class="col-sm-2">
        <input id="dmbInstallTime" name="dmbInstallTime" class="form-control" type="date">
    </div>
    <label class="col-sm-2 control-label">IT调试时间</label>
    <div class="col-sm-2">
        <input id="ieStoreItDebugTime" name="ieStoreItDebugTime" class="form-control" type="date">
    </div>
</div>

<div class="form-group">
    <label class="col-sm-1 control-label">DMB安装三星</label>
    <div class="col-sm-2">
        <input id="samsungIntallTime" name="samsungIntallTime" class="form-control" type="date">
    </div>

    <label class="col-sm-2 control-label">DMB拆除三星</label>
    <div class="col-sm-2">
        <input id="samsungUnintallTime" name="samsungUnintallTime" class="form-control" type="date">
    </div>
</div>

<div class="form-group">
    <label class="col-sm-1 control-label">DMB调拨去向</label>
    <div class="col-sm-2">
        <input id="dmbDebugTogo" name="dmbDebugTogo" class="form-control" type="text">
    </div>
    <label class="col-sm-2 control-label">备注</label>
    <div class="col-sm-2">
        <input id="ieStoreRemark" name="ieStoreRemark" class="form-control" type="text">
    </div>
</div>