<style>
    .changeStatus {
        font-size: 15px;
        font-weight: bolder;
    }

</style>
<div class="wrapper wrapper-content animated fadeInRight" >
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>
                        <a href="{{ urlfor "ConfirmController.ConfirmList"}}">新店调试列表</a>>
                        {{.titleName}}</h5>
                    <div class="ibox-tools">
                        <a href="{{ urlfor "ConfirmController.ConfirmList"}}"><i class="fa fa-times"></i></a>
                    </div>
                </div>

                <div class="ibox-content" >

                    {{template  "software/add.html" .}}

                    <table class="table table-striped table-bordered table-hover dataTables-example ">
                        <thead>
                        <tr>

                            <th>软件名称</th>
                            <th>版本</th>
                            <th>调试人</th>
                            <th>状态更新时间</th>
                            <th>状态</th>
                            <th>备注</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody>

                        {{range $key, $val := .softwareList}}
                            <tr class="gradeX">
                                <td>
                                    {{$val.SoftwareName}}</td>
                                <td>{{$val.Version}}</td>
                                <td>{{$val.AdminName}}</td>
                                <td>
                                    {{$val.CheckTime}}
                                </td>
                                <td>
                                    {{if eq $val.Status 0 }}
                                        <span class="badge badge-defautl">&nbsp;&nbsp;&nbsp;&nbsp;未核对&nbsp;&nbsp;&nbsp;&nbsp;</span>
                                    {{else if eq $val.Status 1  }}
                                        <span class="badge badge-primary">&nbsp;&nbsp;&nbsp;&nbsp;已完成&nbsp;&nbsp;&nbsp;&nbsp;</span>
                                    {{else if eq $val.Status 2  }}
                                        <span class="badge badge-danger">&nbsp;&nbsp;&nbsp;&nbsp;安装失败&nbsp;&nbsp;&nbsp;&nbsp;</span>
                                    {{else if eq $val.Status 3  }}
                                        <span class="badge badge-warning">&nbsp;&nbsp;&nbsp;&nbsp;无需安装&nbsp;&nbsp;&nbsp;&nbsp;</span>
                                    {{end}}
                                </td>
                                <td>{{$val.Remark}}</td>
                                <td>
                                    <div class="btn-group">
                                        <button data-toggle="dropdown" class="btn btn-primary btn-xs dropdown-toggle">更改状态 <span class="caret"></span></button>
                                        <ul class="dropdown-menu">
                                            <li><a class="changeStatus" onclick="changeStatus({{$val.SoftwareId}},1)" >已核对</a></li>
                                            <li><a class="changeStatus" onclick="changeStatus({{$val.SoftwareId}},2)"  class="font-bold">安装失败</a></li>
                                            <li><a class="changeStatus" onclick="changeStatus({{$val.SoftwareId}},3)"  class="font-bold">无需核对</a></li>
                                            <li class="divider"></li>
                                            <li><a  class="changeStatus"  onclick="changeStatus({{$val.SoftwareId}},0)" >未核对</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <button  onclick="editSoftware({{$val.SoftwareId}})" class=" btn   btn-xs btn-success" type="button">编辑</button>
                                    <button  onclick="delSoftware({{$val.SoftwareId}})" class=" btn   btn-xs btn-danger" type="button">删除</button>

                                </td>
                            </tr>
                        {{end}}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Page-Level Scripts -->
<script>


    function editSoftware(softwareId) {
        //iframe层
        parent.layer.open({
            type: 2,
            title: '编辑软件信息',
            shadeClose: true,
            shade: 0.3,
            area: ['40%', '45%'],
            content: ["/software/edit?softwareId="+softwareId ,"no"],
            end:function () {
               location.reload()
            }
        });

    }
    //标记餐厅为 重要
    function changeStatus(softwareId,status){

        statusArr = ["未核对","完成","安装失败","无需核对"]
        //询问框
        parent.layer.confirm('确认标记该软件为'+statusArr[status]+'?', {
            btn: ['确当','手滑'], //按钮
            shade: false //不显示遮罩
        }, function(){
            var url     = '{{urlfor "SoftwareController.SignSoftware"}}';
            $.ajax({
                url : url,
                type : 'POST',
                dataType : 'json',
                data : {
                    softwareId :softwareId,
                    status :status,
                },
                success : function(data) {
                    if(data.code == 0){
                        parent.layer.msg(data.message, {icon: 1,time:1000,offset: '400px'},function () {
                            window.location.reload()
                        });
                    }else{
                        layer.msg(data.message, {icon: 5,time:1000,offset: '400px'});
                    }
                }
            });
        }, function(){
            parent.layer.close()
            // parent.layer.msg('是不是彪', {time:1000,shift: 6});
        });
    }


    //标记餐厅为 重要
    function delSoftware(softwareId){

        //询问框
        parent.layer.confirm('确认要删除软件信息么？', {
            btn: ['确当','手滑'], //按钮
            shade: false //不显示遮罩
        }, function(){
            var url     = '{{urlfor "SoftwareController.DelSoftware"}}';
            $.ajax({
                url : url,
                type : 'POST',
                dataType : 'json',
                data : {
                    softwareId :softwareId,
                },
                success : function(data) {
                    if(data.code == 0){
                        parent.layer.msg(data.message, {icon: 1,time:1000,offset: '400px'},function () {
                            window.location.reload()
                        });
                    }else{
                        layer.msg(data.message, {icon: 5,time:1000,offset: '400px'});
                    }
                }
            });
        }, function(){
            // parent.layer.close()
            parent.layer.msg('彪啊，乱点啥！', {time:500,shift: 6});
        });
    }
    function forbidStore(storeId){
        var url = '{{urlfor "StoreController.DeleteStore"}}';

        $.ajax({
            url : url,
            type : 'POST',
            dataType : 'json',
            data : {
                storeId :storeId,
            },
            success : function(data) {
                console.log(data);
                if(data.code == 0){
                   layer.msg(data.message, {icon: 1,time:1000,offset: '400px'},function () {
                        window.location.href='{{ urlfor "StoreController.StoreList"}}'
                    });
                }else{
                    layer.msg(data.message, {icon: 5,offset: '400px'});
                }
            }
        });
    }

    $(document).ready(function () {
        $('.dataTables-example').dataTable(
            {
                "ordering": false,
                "bAutoWidth":false,
                "columns": [
                    //给第一列指定宽度为表格整个宽度的20%
                    { "width": "4%" },
                    { "width": "3%" },
                    { "width": "3%" },
                    { "width": "4%" },
                    { "width": "3%" },
                    { "width": "4%" },
                    { "width": "4%" },


                ]
            }
        );


        //删除 软删除
        $(".delStore").click();
    });

</script>