
<div class="wrapper wrapper-content animated fadeInRight" >
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content" >
                    {{template  "system/add.html" .}}
                    <table class="table table-striped table-bordered table-hover dataTables-example ">
                        <thead>
                        <tr>
                            <th>系统名称</th>
                            <th>状态</th>
                            <th>备注</th>
                            <th>更新时间</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody>

                        {{range $key, $val := .systemList}}
                            <tr class="gradeX">
                                <td><a href="/systemDevice/list?systemId={{$val.SystemId}}">{{$val.SystemName}}</a></td>
                                <td>
                                    {{if eq $val.Status "0" }}
                                    <span class="badge badge-primary">&nbsp;&nbsp;&nbsp;&nbsp;启用&nbsp;&nbsp;&nbsp;&nbsp;</span>
                                    {{else }}
                                        <span class="badge badge-danger">&nbsp;&nbsp;&nbsp;&nbsp;禁用&nbsp;&nbsp;&nbsp;&nbsp;</span>
                                    {{end}}
                                </td>
                                <td>{{$val.Remark}}</td>
                                <td>{{$val.UpdateTime}}</td>
                                <td>
                                    <button  onclick="edit({{$val.SystemId}})" class=" btn   btn-xs btn-success" type="button">编辑</button>
                                    <a href="/systemDevice/list?systemId={{$val.SystemId}}" class=" btn   btn-xs btn-primary" type="button">系统设备列表</a>
                                    <div class="btn-group">
                                        <button data-toggle="dropdown" class="btn btn-danger btn-xs dropdown-toggle">更改状态 <span class="caret"></span></button>
                                        <ul class="dropdown-menu">
                                            <li><a class="changeStatus" onclick="changeStatus({{$val.SystemId}},0)" >启用</a></li>
                                            <li><a class="changeStatus" onclick="changeStatus({{$val.SystemId}},1)" >禁用</a></li>
                                            </li>
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                        {{end}}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Page-Level Scripts -->
<script>

    function related(id) {
        //iframe层
        parent.layer.open({
            type: 2,
            title: '编辑模板信息',
            shadeClose: true,
            shade: 0.3,
            area: ['40%', '45%'],
            maxmin: true, //开启最大化最小化按钮
            content: ["/system/edit?systemId="+id ,"no"],
            end:function () {
               location.reload()
            }
        });

    }

    function edit(id) {
        //iframe层
        parent.layer.open({
            type: 2,
            title: '编辑',
            shadeClose: true,
            shade: 0.3,
            area: ['40%', '30%'],
            content: ["/system/edit?systemId="+id ,"no"],
            end:function () {
               location.reload()
            }
        });

    }

    function changeStatus(id,status){

        var msg = ""
        statusArr = ["启用之后将显示在选项中,确认启用该系统?","禁用之后将不在选项中显示,确认该系统为禁用?"]

        //询问框
        parent.layer.confirm(statusArr[status], {
            btn: ['确当','手滑'], //按钮
            shade: false //不显示遮罩
        }, function(){
            var url     = '{{urlfor "SystemController.ChangeStatus"}}';
            $.ajax({
                url : url,
                type : 'POST',
                dataType : 'json',
                data : {
                    systemId :id,
                    status :status,
                },
                success : function(data) {
                    if(data.code == 0){
                        parent.layer.msg(data.message, {icon: 1,time:1000,offset: '400px'},function () {
                            window.location.reload()
                        });
                    }else{
                        layer.msg(data.message, {icon: 5,time:1000,offset: '400px'});
                    }
                }
            });
        }, function(){
            parent.layer.close()
            // parent.layer.msg('是不是彪', {time:1000,shift: 6});
        });
    }


    $(document).ready(function () {
        $('.dataTables-example').dataTable(
            {
                "ordering": false,
                "bAutoWidth":false,
                "columns": [
                    //给第一列指定宽度为表格整个宽度的20%
                    { "width": "4%" },
                    { "width": "3%" },
                    { "width": "3%" },
                    { "width": "3%" },
                    { "width": "4%" },
                ]
            }
        );


        //删除 软删除
        $(".delStore").click();
    });

</script>