
<div class="wrapper wrapper-content animated fadeInRight" >
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <button onclick="add()" class="btn btn-primary" >添加审查项</button>
                </div>
                <div class="ibox-content" >
                    <table class="table table-striped table-bordered table-hover dataTables-example ">
                        <thead>
                        <tr>
                            <th>店号</th>
                            <th>餐厅名称</th>
                            <th>确认回复日期</th>
                            <th>状态</th>
                            <th>最近更新时间</th>
                            <th>最近更新人员</th>
                            <th>备注</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        {{range $key, $val := .checkList}}
                            <tr class="gradeX">
                                <td>{{$val.Number}}</td>
                                <td>{{$val.StoreName}}</td>
                                <td>{{$val.ReplyDate}}</td>
                                <td>
                                    {{if eq $val.Status 2 }}
                                        <span class="badge badge-primary">&nbsp;&nbsp;&nbsp;&nbsp;已完成&nbsp;&nbsp;&nbsp;&nbsp;</span>
                                    {{else if eq $val.Status 1 }}
                                        <span class="badge badge-warning">&nbsp;&nbsp;&nbsp;&nbsp;准备中&nbsp;&nbsp;&nbsp;&nbsp;</span>
                                    {{else}}
                                        <span class="badge badge-success">&nbsp;&nbsp;&nbsp;&nbsp;待操作&nbsp;&nbsp;&nbsp;&nbsp;</span>
                                    {{end}}
                                </td>
                                <td>{{$val.UpdateTime}}</td>
                                <td>{{$val.AdminName}}</td>
                                <td>{{$val.Remark}}</td>
                                <td>
                                    <button onclick="edit('/deviceCheck/edit?checkId={{$val.CheckId}}')" class=" btn   btn-xs btn-success" type="button">编辑</button>
                                    <button onclick="delCheck({{$val.CheckId}})" class=" btn   btn-xs btn-danger" type="button">删除</button>
                                </td>
                            </tr>
                        {{end}}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Page-Level Scripts -->
<script>

    function add() {
        //iframe层
        parent.layer.open({
            type: 2,
            title: '添加审查信息',
            shadeClose: true,
            shade: 0.3,
            area: ['60%', '50%'],
            content: ["/deviceCheck/add","yes"],
            end:function () {
                location.reload()
            }
        });

    }

    function edit(url) {
        //iframe层
        parent.layer.open({
            type: 2,
            title: '编辑信息',
            shadeClose: true,
            shade: 0.3,
            area: ['60%', '55%'],
            content: [url ,"yes"],
            end:function () {
                location.reload()
            }
        });

    }

    //标记餐厅为 重要
    function delCheck(id){

        //询问框
        parent.layer.confirm('确认要永久删除审查信息么？', {
            btn: ['确当','手滑'], //按钮
            shade: false //不显示遮罩
        }, function(){
            var url     = '{{urlfor "DeviceCheckController.DelCheck"}}';
            $.ajax({
                url : url,
                type : 'POST',
                dataType : 'json',
                data : {
                    checkId :id,
                },
                success : function(data) {
                    if(data.code == 0){
                        parent.layer.msg(data.message, {icon: 1,time:1000,offset: '400px'},function () {
                            window.location.reload()
                        });
                    }else{
                        layer.msg(data.message, {icon: 5,time:1000,offset: '400px'});
                    }
                }
            });
        }, function(){
            // parent.layer.close()
            parent.layer.msg('彪啊，乱点啥！', {time:500,shift: 6});
        });
    }
    function forbidStore(storeId){
        var url = '{{urlfor "StoreController.DeleteStore"}}';

        $.ajax({
            url : url,
            type : 'POST',
            dataType : 'json',
            data : {
                storeId :storeId,
            },
            success : function(data) {
                console.log(data);
                if(data.code == 0){
                   layer.msg(data.message, {icon: 1,time:1000,offset: '400px'},function () {
                        window.location.href='{{ urlfor "StoreController.StoreList"}}'
                    });
                }else{
                    layer.msg(data.message, {icon: 5,offset: '400px'});
                }
            }
        });
    }

    $(document).ready(function () {
        $('.dataTables-example').dataTable(
            {
                "ordering": false,
                "bAutoWidth":false,
                "columns": [
                    //给第一列指定宽度为表格整个宽度的20%
                    { "width": "2%" },
                    { "width": "3%" },
                    { "width": "4%" },
                    { "width": "2%" },
                    { "width": "4%" },
                    { "width": "4%" },
                    { "width": "4%" },
                    { "width": "4%" },


                ]
            }
        );


        //删除 软删除
        $(".delStore").click();
    });

</script>