<link href="/static/css/plugins/cropper/cropper.min.css" rel="stylesheet">
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-sm-12 col-md-12 ">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <form class="form-horizontal m-t" id="signupForm" method="post" enctype="multipart/form-data">
                        <div class="form-group">
                            <label class="col-sm-4 control-label">设备名称</label>
                            <div class="col-sm-3">
                                <input  id="deviceName" name="deviceName" class="form-control" type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">位置</label>
                            <div class="col-sm-3">
                                <input   id="position" name="position" class="form-control" type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">用途</label>
                            <div class="col-sm-3">
                                <input   id="purpose" name="purpose" class="form-control" type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">设备型号</label>
                            <div class="col-sm-3">
                                <input   id="deviceModel" name="deviceModel" class="form-control" type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">报废型号</label>
                            <div class="col-sm-3">
                                <input   id="scrapModel" name="scrapModel" class="form-control" type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">备注</label>
                            <div class="col-sm-3">
                                <input   id="remark" name="remark" class="form-control" type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">设备图片</label>
                            <div class="col-sm-6">
                                <img id="show-file"   style="width: 100%;height: 100%" src="" alt="">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label"></label>
                            <input type="file" name="devicePic" class="upload-file">
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">&nbsp;&nbsp;&nbsp;&nbsp;</label>
                            <input value="{{.modelId}}" id="modelId" name="modelId" class="form-control" type="hidden">
                            <button class="btn btn-primary " type="submit">保存</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script>

    $().ready(function () {
        //图片预览
        function imgPreview(fileDom,e,ele){
            //获取文件
            var file = fileDom.files[0];
            var supportedTypes = ['image/jpg', 'image/jpeg', 'image/png'];
            if(!(supportedTypes.indexOf(file.type)>-1)){
                alert('请选择.jpg、.png格式图片')
                return;
            }
            var uploadFiles = e.target.files || e.dataTransfer.files;
            console.log(file.type);
            var size=uploadFiles.length;
            for(var i=0;i<size;i++){
                /*读取文件*/
                var reader=new FileReader();
                reader.readAsDataURL(uploadFiles[i]);
                reader.onload=function (e) {
                    var imgBase=e.target.result;
                    $('#show-file').attr('src',imgBase).show()
                }
            }
        }

        $('.upload-file').change(function (e) {
            imgPreview(this,e,$(this));
        })


        // validate signup form on keyup and submit
        var icon = "<i class='fa fa-times-circle'></i> ";
        $("#signupForm").validate({
            rules: {
                deviceName: "required",
                position: "required",
                purpose: "required",
                deviceModel: "required",
                scrapModel: "required",
            },
            messages: {
                deviceName: icon + "请填设备名称",
                position: icon + "请填位置",
                purpose: icon + "请填用途",
                deviceModel: icon + "请填设备型号",
                scrapModel: icon + "请填报废型号",
            },
            submitHandler:function(form){
                var form = new FormData(document.getElementById("signupForm"));
                var url = '{{urlfor "ModelDeviceController.Add"}}';

                $.ajax({
                    url:url,
                    type:"post",
                    data:form,
                    processData:false,
                    contentType:false,
                    success:function(data){

                        if(data.code == 0){
                            parent.layer.msg(data.message, {icon: 1,time:1000,offset: '400px'},function () {
                                parent.layer.closeAll()
                            });
                        }else{
                            parent.layer.msg(data.message, {icon: 5,offset: '400px'});
                        }
                    }
                });
            }
        });

    });


</script>