<div class="form-group">
    <label class="col-sm-2 control-label">资产评估时间</label>
    <div class="col-sm-2">
        <input id="propertyEvaluateTime" name="propertyEvaluateTime" class="form-control" type="date">
    </div>
    <label class="col-sm-2 control-label">运营助理发关店资料时间</label>
    <div class="col-sm-2">
        <input id="businessCloseTime" name="businessCloseTime" class="form-control" type="date">
    </div>
    <label class="col-sm-2 control-label">运营助理机具回收时间</label>
    <div class="col-sm-2">
        <input id="businessRecoveryTime" name="businessRecoveryTime" class="form-control" type="date">
    </div>
</div>
<div class="form-group">
    <label class="col-sm-2 control-label">DMB派单时间</label>
    <div class="col-sm-2">
        <input id="closeDmbDispatchTime" name="closeDmbDispatchTime" class="form-control" type="date">
    </div>
    <label class="col-sm-2 control-label">向三星派单时间</label>
    <div class="col-sm-2">
        <input id="dispatchSamsungTime" name="dispatchSamsungTime" class="form-control" type="date">
    </div>

    <label class="col-sm-2 control-label">IMAC派单时间</label>
    <div class="col-sm-2">
        <input id="closeImacDispatchTime" name="closeImacDispatchTime" class="form-control" type="date">
    </div>
</div>
<div class="form-group">
    <label class="col-sm-2 control-label">DMB拆除数量</label>
    <div class="col-sm-2">
        <input id="dmbUninstallNumber" name="dmbUninstallNumber" class="form-control" type="text">
    </div>
    <label class="col-sm-2 control-label">关店备注</label>
    <div class="col-sm-4">
        <input id="closeRemark" name="closeRemark" class="form-control" type="text">
    </div>
</div>
<div class="form-group">
    <label class="col-sm-2 control-label">设备HP去向表</label>
    <div class="col-sm-3">
        <input id="deviceHpTogoTable" name="file-deviceHpTogoTable" value="12" class="form-control fileTable" type="file">
    </div>
    <label class="col-sm-2 control-label">设备LC去向表</label>
    <div class="col-sm-3">
        <input id="deviceLcTogoTable" name="file-deviceLcTogoTable" class="form-control fileTable" type="file">
    </div>
</div>

<div class="form-group">
    <label class="col-sm-2 control-label">向提供给LC资产表</label>
    <div class="col-sm-3">
        <input id="toLcPropertyTable" name="file-toLcPropertyTable" class="form-control fileTable" type="file">
    </div>
    <label class="col-sm-2 control-label">设备退给配销申请</label>
    <div class="col-sm-3">
        <input id="deviceReturnLcApply" name="file-deviceReturnLcApply" class="form-control fileTable" type="file">
    </div>
</div>

<div class="form-group">
    <label class="col-sm-2 control-label">资产申请报废表</label>
    <div class="col-sm-3">
        <input id="propertyDestroyTable"  name="file-propertyDestroyTable" class="form-control fileTable" type="file" >
    </div>
</div>
