<div class="form-group">
    <label class="col-sm-2 control-label">邮箱申请时间</label>
    <div class="col-sm-2">
        <input value="{{.newStoreInfo.ApplyEmailTime}}"  id="applyEmailTime" name="applyEmailTime" class="form-control" type="date">
    </div>
    <label class="col-sm-2 control-label">订购设备时间</label>
    <div class="col-sm-2">
        <input  value="{{.newStoreInfo.BookDeviceTime}}" id="bookDeviceTime" name="bookDeviceTime" class="form-control" type="date">
    </div>
    <label class="col-sm-2 control-label">小件提醒时间</label>
    <div class="col-sm-2">
        <input value="{{.newStoreInfo.SmallNoticeTime}}"  id="newStoreSmallNoticeTime" name="newStoreSmallNoticeTime" class="form-control" type="date">
    </div>
</div>

<div class="form-group">
    <label class="col-sm-2 control-label">2G主档信息提醒时间</label>
    <div class="col-sm-2">
        <input  value="{{.newStoreInfo.Notice2gTime}}"  id="notice2gTime" name="notice2gTime" class="form-control" type="date">
    </div>
    <label class="col-sm-2 control-label">2G-IMS开通时间</label>
    <div class="col-sm-2">
        <input  value="{{.newStoreInfo.Open2gImsTime}}" id="open2gimsTime" name="open2gimsTime" class="form-control" type="date">
    </div>
    <label class="col-sm-2 control-label">2G-CMS开通时间</label>
    <div class="col-sm-2">
        <input value="{{.newStoreInfo.Open2gCmsTime}}"  id="open2gcmsTime" name="open2gcmsTime" class="form-control" type="date">
    </div>
</div>

<div class="form-group">
    <label class="col-sm-2 control-label">IT-SM服务关系时间</label>
    <div class="col-sm-2">
        <input  value="{{.newStoreInfo.ItsmRelationTime}}"   id="itsmRelationTime" name="itsmRelationTime" class="form-control" type="date">
    </div>

    <label class="col-sm-2 control-label">IT-SP认领时间</label>
    <div class="col-sm-2">
        <input value="{{.newStoreInfo.ItspTime}}"   id="itspTime" name="itspTime" class="form-control" type="date">
    </div>
    <label class="col-sm-2 control-label">IMAC派单时间</label>
    <div class="col-sm-2">
        <input value="{{.newStoreInfo.ImacDispatchTime}}"  id="newStoreImacDispatchTime" name="newStoreImacDispatchTime" class="form-control" type="date">
    </div>
</div>

<div class="form-group">
    <label class="col-sm-2 control-label">DMB派单时间</label>
    <div class="col-sm-2">
        <input value="{{.newStoreInfo.DmbDispatchTime}}"  id="newStoreDmbDispatchTime" name="newStoreDmbDispatchTime" class="form-control" type="date">
    </div>

    <label class="col-sm-2 control-label">叫号屏派单时间</label>
    <div class="col-sm-2">
        <input value="{{.newStoreInfo.CallNumTime}}"  id="callNumTime" name="callNumTime" class="form-control" type="date">
    </div>
    <label class="col-sm-2 control-label">IT调试时间</label>
    <div class="col-sm-2">
        <input value="{{.newStoreInfo.ItDebugTime}}"  id="newStoreItDebugTime" name="newStoreItDebugTime" class="form-control" type="date">
    </div>
</div>
<div class="form-group">
    <label class="col-sm-2 control-label">设备调拨</label>
    <div class="col-sm-2">
        <input  value="{{.newStoreInfo.DeviceDebug}}"  id="deviceDebug" name="deviceDebug" class="form-control" type="text">
    </div>
    <label class="col-sm-2 control-label">备注</label>
    <div class="col-sm-2">
        <input   value="{{.newStoreInfo.Remark}}"   id="newStoreRemark" name="newStoreRemark" class="form-control" type="text">
    </div>
</div>
