<div class="form-group">
    <label class="col-sm-2 control-label">邮箱申请时间</label>
    <div class="col-sm-2">
        <input id="applyEmailTime" name="applyEmailTime" class="form-control" type="date">
    </div>
    <label class="col-sm-2 control-label">订购设备时间</label>
    <div class="col-sm-2">
        <input id="bookDeviceTime" name="bookDeviceTime" class="form-control" type="date">
    </div>
    <label class="col-sm-2 control-label">小件提醒时间</label>
    <div class="col-sm-2">
        <input id="newSmallNoticeTime" name="newSmallNoticeTime" class="form-control" type="date">
    </div>
</div>

<div class="form-group">
    <label class="col-sm-2 control-label">2G主档信息提醒时间</label>
    <div class="col-sm-2">
        <input id="notice2gTime" name="notice2gTime" class="form-control" type="date">
    </div>
    <label class="col-sm-2 control-label">2G-IMS开通时间</label>
    <div class="col-sm-2">
        <input id="open2gimsTime" name="open2gimsTime" class="form-control" type="date">
    </div>
    <label class="col-sm-2 control-label">2G-CMS开通时间</label>
    <div class="col-sm-2">
        <input id="open2gcmsTime" name="open2gcmsTime" class="form-control" type="date">
    </div>
</div>

<div class="form-group">
    <label class="col-sm-2 control-label">IT-SM服务关系时间</label>
    <div class="col-sm-2">
        <input id="itsmRelationTime" name="itsmRelationTime" class="form-control" type="date">
    </div>

    <label class="col-sm-2 control-label">IT-SP认领时间</label>
    <div class="col-sm-2">
        <input id="itspTime" name="itspTime" class="form-control" type="date">
    </div>
    <label class="col-sm-2 control-label">IMAC派单时间</label>
    <div class="col-sm-2">
        <input id="newImacDispatchTime" name="newImacDispatchTime" class="form-control" type="date">
    </div>
</div>

<div class="form-group">
    <label class="col-sm-2 control-label">DMB派单时间</label>
    <div class="col-sm-2">
        <input id="newDmbDispatchTime" name="newDmbDispatchTime" class="form-control" type="date">
    </div>

    <label class="col-sm-2 control-label">叫号屏派单时间</label>
    <div class="col-sm-2">
        <input id="callNumTime" name="callNumTime" class="form-control" type="date">
    </div>
    <label class="col-sm-2 control-label">IT调试时间</label>
    <div class="col-sm-2">
        <input id="newItDebugTime" name="newItDebugTime" class="form-control" type="date">
    </div>
</div>
<div class="form-group">
    <label class="col-sm-2 control-label">设备调拨</label>
    <div class="col-sm-2">
        <input id="deviceDebug" name="deviceDebug" class="form-control" type="text">
    </div>
    <label class="col-sm-2 control-label">新店备注</label>
    <div class="col-sm-2">
        <input id="newStoreRemark" name="newStoreRemark" class="form-control" type="text">
    </div>
</div>
