<div class="form-group">
    <label class="col-sm-2 control-label">报废评估时间</label>
    <div class="col-sm-2">

        <input value="{{.ieStoreInfo.ScrapAssessmentTime}}" id="scrapAssessmentTime" name="scrapAssessmentTime" class="form-control" type="date">
    </div>
    <label class="col-sm-2 control-label">设备订购初稿时间</label>
    <div class="col-sm-2">
        <input value="{{.ieStoreInfo.DeviceBookFirsTime}}" id="deviceBookFirsTime" name="deviceBookFirsTime" class="form-control" type="date">
    </div>
    <label class="col-sm-2 control-label">小件提醒时间</label>
    <div class="col-sm-2">
        <input value="{{.ieStoreInfo.IeSmallNoticeTime}}" id="ieSmallNoticeTime" name="ieSmallNoticeTime" class="form-control" type="date">
    </div>
</div>

<div class="form-group">
    <label class="col-sm-2 control-label">开店IMC派单时间</label>
    <div class="col-sm-2">
        <input  value="{{.ieStoreInfo.OpenImacTime}}" id="openImacTime" name="openImacTime" class="form-control" type="date">
    </div>
    <label class="col-sm-2 control-label">关店IMC派单时间</label>
    <div class="col-sm-2">
        <input value="{{.ieStoreInfo.CloseImacTime}}" id="closeImacTime" name="closeImacTime" class="form-control" type="date">
    </div>
    <label class="col-sm-2 control-label">IT-SM闭店时间</label>
    <div class="col-sm-2">
        <input value="{{.ieStoreInfo.ItsmCloseStoreTime}}" id="itsmCloseStoreTime" name="itsmCloseStoreTime" class="form-control" type="date">
    </div>
</div>

<div class="form-group">
    <label class="col-sm-2 control-label">DMB拆除时间</label>
    <div class="col-sm-2">
        <input  value="{{.ieStoreInfo.DmbUninstallTime}}" id="dmbUninstallTime" name="dmbUninstallTime" class="form-control" type="date">
    </div>

    <label class="col-sm-2 control-label">DMB安装时间</label>
    <div class="col-sm-2">
        <input  value="{{.ieStoreInfo.DmbInstallTime}}" id="dmbInstallTime" name="dmbInstallTime" class="form-control" type="date">
    </div>
    <label class="col-sm-2 control-label">IT调试时间</label>
    <div class="col-sm-2">
        <input  value="{{.ieStoreInfo.IeItDebugTime}}"  id="ieItDebugTime" name="ieItDebugTime" class="form-control" type="date">
    </div>
</div>

<div class="form-group">
    <label class="col-sm-2 control-label">DMB安装三星时间</label>
    <div class="col-sm-2">
        <input  value="{{.ieStoreInfo.SamsungIntallTime}}"  id="samsungIntallTime" name="samsungIntallTime" class="form-control" type="date">
    </div>

    <label class="col-sm-2 control-label">DMB拆除三星时间</label>
    <div class="col-sm-2">
        <input value="{{.ieStoreInfo.SamsungUnintallTime}}"   id="samsungUnintallTime" name="samsungUnintallTime" class="form-control" type="date">
    </div>
</div>

<div class="form-group">
    <label class="col-sm-2 control-label">DMB调拨去向备注</label>
    <div class="col-sm-2">
        <input value="{{.ieStoreInfo.DmbDebugTogo}}"   id="dmbDebugTogo" name="dmbDebugTogo" class="form-control" type="text">
    </div>
    <label class="col-sm-2 control-label">IE-备注</label>
    <div class="col-sm-2">
        <input value="{{.ieStoreInfo.IeRemark}}"   id="ieRemark" name="ieRemark" class="form-control" type="text">
    </div>
</div>